@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Source+Serif+Pro:wght@300&display=swap");

@font-face {
  font-family: segoe;
  src: url("/assets/fonts/segoel-webfont.woff");
}

@font-face {
  font-family: museosans;
  src: url("/assets/fonts/museosanscyrl-webfont.woff");
}

@font-face {
  font-family: LucidaGrande;
  src: url("assets/fonts/LucidaGrande.ttf");
}

/* latin-ext */
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreya/v35/4UaHrEBBsBhlBjvfkSLk96Tp56N1.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
    U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/varela/v16/DPEtYwqExx0AWHX5DR4ETvw.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
    U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Oswald:wght@200&family=Poppins:wght@100;200&family=Source+Serif+Pro:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 200vh;
}

section {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 5rem;
}

#sectionTitle {
  font-family: "segoe";
  font-weight: 100;
  color: #9ccdec;
  text-shadow: 1px 0px black;
}

.content-header-img {
  margin-left: 20px;
  height: 350px;
  float: right;
  width: 40vw;
  object-fit: cover;
}

.content-middle-img {
  margin-right: 20px;
  height: 350px;
  float: left;
  width: 30vw;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 544px) {
  .content-header-img,
  .content-middle-img {
    width: 100%;
    margin-inline: 0px;
  }
}
